*{
    margin: 0;
    padding: 0;
}
header {
    height: 5%;
    margin-bottom: -1.25%;
    background-color: black;
}
main {
    width: 100%;
}
aside {
    width: 25%;
    height: 4000%;
    float: left;
}
article {
    width: 75%;
    float: left;
}
section {
    width: 30%;
    height: 350px;
    float: left;
    background-color: rgb(52, 52, 52);
    margin: 1%;
    border-radius: 3%;
}
section img {
    width: 80%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 3%;
    /*recorte*/
    width: 80%;
    height: 200px;
    object-fit: cover;
    border: 5px solid black;
}
footer {
    height: 5%;
}
#cards {
    margin-top: 2%;
    margin-left: 4%;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 14%;
    list-style: none;
    padding-left: 84%;
    margin-top: 1%;
}
#pfp {
    border-radius: 100%;
    margin-top: 10%;
    margin-left: 1.6%;
}
p, h1 {
    color: black;
}