ul {
    display: flex;
    flex-direction: row;
    gap: 14%;
    list-style: none;
    padding-left: 84%;
    margin-top: 1%;
}
#perfil {
    width: 500%;
    float: left;
}
#cards {
    width: 100%;
    float: left;
}
#pfp {
    border-radius: 100%;
    margin-top: 10%;
    margin-left: 1.6%;
}
p, h1 {
    color: black;
}